Pochtabank.ADPESIA.App/RemoteFiles/0de05d3c-210d-48f2-a3d9-d37d2f544dd9.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mks.esia.rstyle.ru/" xmlns:Q1="http://mks.esia.rstyle.ru/" xmlns:q1="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1">

    <xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" schemaLocation="fdc2de08-e702-49d7-be0c-7091735da13c.xsd"/>
    <xsd:complexType name="Fault">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="faultCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="faultString" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="Snils">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}-\d{3}-\d{3} \d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="INN">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{12}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="UPNType">
        <xsd:annotation>
            <xsd:documentation>Строка из 16 цифр</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="q1:string-20">
            <xsd:length value="16"/>
            <xsd:pattern value="[\d]{16}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OPNType">
        <xsd:annotation>
            <xsd:documentation>Серия (строка цифр, букв, возможны дефис и точка). Разделитель серии от номера (пробел, символ №, пробел). Номер (строка цифр, букв, возможны дефис и точка)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="q1:string-50">
            <xsd:maxLength value="50"/>
            <xsd:whiteSpace value="preserve"/>
            <xsd:pattern value="^([\dа-яёa-zА-ЯЁA-Z\-\.]+ № )?[\dа-яёa-zА-ЯЁA-Z\-\.]+$"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TCNType">
        <xsd:annotation>
            <xsd:documentation>Строка из 9 цифр</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="q1:string-20">
            <xsd:length value="9"/>
            <xsd:pattern value="[\d]{9}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="VerificationReqType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="passportSeries" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="passportNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="firstname" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="lastname" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="middlename" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="VerificationRespType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="fault" type="Q1:Fault"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="IdentificationReqType">
        <xsd:complexContent>
            <xsd:extension base="Q1:VerificationReqType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="mobile" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="snils" type="Q1:Snils"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="inn" type="Q1:INN"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="unitedPolicyNumber" type="Q1:UPNType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="oldPolicyNumber" type="Q1:OPNType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="temporaryCertificateNumber" type="Q1:TCNType"/>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="IdentificationRespType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="fault" type="Q1:Fault"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VerificationResultReqType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VerificationResultRespType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="fault" type="Q1:Fault"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="IdentificationResultReqType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="smsCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IdentificationResultRespType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="fault" type="Q1:Fault"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>